<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 class="molten-text">Login Form</h1>
        <form id="form" method="POST">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" placeholder="Username" required>
            <br>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="Password" required>
            <br>
            <p>Don't have an account? <a href="{{ url_for('registration') }}">Register Here</a></p>
            <button type="submit">Login</button>
        </form>
    </body>
</html>